InvertCommon/Web References/Invert911service/invert911service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcessMobileMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessMobileMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessMobileMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessMobileMessageTest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessMobileMessageTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessMobileMessageTestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessMobileMessageSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessMobileMessage" />
  </wsdl:message>
  <wsdl:message name="ProcessMobileMessageSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessMobileMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessMobileMessageTestSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessMobileMessageTest" />
  </wsdl:message>
  <wsdl:message name="ProcessMobileMessageTestSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessMobileMessageTestResponse" />
  </wsdl:message>
  <wsdl:portType name="Invert911ServiceSoap">
    <wsdl:operation name="ProcessMobileMessage">
      <wsdl:input message="tns:ProcessMobileMessageSoapIn" />
      <wsdl:output message="tns:ProcessMobileMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessMobileMessageTest">
      <wsdl:input message="tns:ProcessMobileMessageTestSoapIn" />
      <wsdl:output message="tns:ProcessMobileMessageTestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Invert911ServiceSoap" type="tns:Invert911ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessMobileMessage">
      <soap:operation soapAction="http://tempuri.org/ProcessMobileMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessMobileMessageTest">
      <soap:operation soapAction="http://tempuri.org/ProcessMobileMessageTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Invert911ServiceSoap12" type="tns:Invert911ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessMobileMessage">
      <soap12:operation soapAction="http://tempuri.org/ProcessMobileMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessMobileMessageTest">
      <soap12:operation soapAction="http://tempuri.org/ProcessMobileMessageTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Invert911Service">
    <wsdl:port name="Invert911ServiceSoap" binding="tns:Invert911ServiceSoap">
      <soap:address location="http://www.invert911.com/invert911service.asmx" />
    </wsdl:port>
    <wsdl:port name="Invert911ServiceSoap12" binding="tns:Invert911ServiceSoap12">
      <soap12:address location="http://www.invert911.com/invert911service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>